# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="SUA_CHAVE_GEMINI_AQUI"

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3000"

# Supabase configuration
VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Google Auth (Capacitor)
# O serverClientId geralmente é o que está no capacitor.config.ts
VITE_GOOGLE_CLIENT_ID=""

# Stripe Configuration
# Stripe Configuration
#VITE_STRIPE_PUBLISHABLE_KEY=""
#STRIPE_SECRET_KEY=""
#STRIPE_WEBHOOK_SECRET=""
#STRIPE_PRICE_ID=""